.nav2 h4 {
    padding: 5px 20px;
    border: 1px solid rgb(141, 28, 234);
    border-radius: 50px;
    font-weight: 500;
    color: rgb(141, 28, 234);
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Effect that expands the background from the bottom */
.nav2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(141, 28, 234);
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease-in 0.3s;
}

/* Hover state for expanding the background */
.nav2 h4:hover::after {
    bottom: 0;
    border-radius: 0%;
}

/* Text styles */
.nav2 h4 a {
    text-decoration: none;
    color: rgb(184, 71, 255);
    font-weight: 700;
    position: relative;
    z-index: 9;
    transition: 0.3s;
}

/* Hover state for the link text */
.nav2 h4:hover a {
    color: white;
}